.lst-kix_3q7la2uswzda-3>li:before {
    content: "\0025cf  "
}

.lst-kix_3q7la2uswzda-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_3l6ve7wkp0w4-8 {
    list-style-type: none
}

.lst-kix_3q7la2uswzda-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_3l6ve7wkp0w4-7 {
    list-style-type: none
}

.lst-kix_3q7la2uswzda-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_3l6ve7wkp0w4-6 {
    list-style-type: none
}

ul.lst-kix_3l6ve7wkp0w4-5 {
    list-style-type: none
}

.lst-kix_3q7la2uswzda-5>li:before {
    content: "\0025a0  "
}

.lst-kix_3q7la2uswzda-0>li:before {
    content: "\0025cf  "
}

.lst-kix_3q7la2uswzda-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_3q7la2uswzda-8 {
    list-style-type: none
}

.lst-kix_plwo2txdaktn-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_3q7la2uswzda-7 {
    list-style-type: none
}

.lst-kix_plwo2txdaktn-4>li:before {
    content: "\0025cb  "
}

.lst-kix_plwo2txdaktn-6>li:before {
    content: "\0025cf  "
}

.lst-kix_o79nw4qhilu5-3>li:before {
    content: "\0025cf  "
}

.lst-kix_o79nw4qhilu5-5>li:before {
    content: "\0025a0  "
}

.lst-kix_o79nw4qhilu5-2>li:before {
    content: "\0025a0  "
}

.lst-kix_o79nw4qhilu5-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_3q7la2uswzda-0 {
    list-style-type: none
}

ul.lst-kix_3q7la2uswzda-2 {
    list-style-type: none
}

.lst-kix_plwo2txdaktn-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_3q7la2uswzda-1 {
    list-style-type: none
}

ul.lst-kix_3q7la2uswzda-4 {
    list-style-type: none
}

.lst-kix_plwo2txdaktn-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_3q7la2uswzda-3 {
    list-style-type: none
}

ul.lst-kix_3q7la2uswzda-6 {
    list-style-type: none
}

ul.lst-kix_3q7la2uswzda-5 {
    list-style-type: none
}

.lst-kix_3l6ve7wkp0w4-3>li:before {
    content: "\0025cf  "
}

.lst-kix_o79nw4qhilu5-4>li:before {
    content: "\0025cb  "
}

.lst-kix_3l6ve7wkp0w4-4>li:before {
    content: "\0025cb  "
}

.lst-kix_3l6ve7wkp0w4-5>li:before {
    content: "\0025a0  "
}

.lst-kix_3q7la2uswzda-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_3l6ve7wkp0w4-4 {
    list-style-type: none
}

.lst-kix_plwo2txdaktn-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_3l6ve7wkp0w4-3 {
    list-style-type: none
}

ul.lst-kix_3l6ve7wkp0w4-2 {
    list-style-type: none
}

.lst-kix_plwo2txdaktn-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_3l6ve7wkp0w4-1 {
    list-style-type: none
}

.lst-kix_3l6ve7wkp0w4-6>li:before {
    content: "\0025cf  "
}

.lst-kix_3l6ve7wkp0w4-8>li:before {
    content: "\0025a0  "
}

.lst-kix_o79nw4qhilu5-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_3l6ve7wkp0w4-0 {
    list-style-type: none
}

.lst-kix_3q7la2uswzda-8>li:before {
    content: "\0025a0  "
}

.lst-kix_3l6ve7wkp0w4-7>li:before {
    content: "\0025cb  "
}

.lst-kix_o79nw4qhilu5-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_plwo2txdaktn-2 {
    list-style-type: none
}

ul.lst-kix_plwo2txdaktn-1 {
    list-style-type: none
}

ul.lst-kix_plwo2txdaktn-0 {
    list-style-type: none
}

ul.lst-kix_plwo2txdaktn-6 {
    list-style-type: none
}

ul.lst-kix_plwo2txdaktn-5 {
    list-style-type: none
}

ul.lst-kix_plwo2txdaktn-4 {
    list-style-type: none
}

ul.lst-kix_plwo2txdaktn-3 {
    list-style-type: none
}

ul.lst-kix_plwo2txdaktn-8 {
    list-style-type: none
}

ul.lst-kix_plwo2txdaktn-7 {
    list-style-type: none
}

.lst-kix_3l6ve7wkp0w4-2>li:before {
    content: "\0025a0  "
}

.lst-kix_3l6ve7wkp0w4-1>li:before {
    content: "\0025cb  "
}

.lst-kix_plwo2txdaktn-8>li:before {
    content: "\0025a0  "
}

.lst-kix_3l6ve7wkp0w4-0>li:before {
    content: "\0025cf  "
}

.lst-kix_o79nw4qhilu5-1>li:before {
    content: "\0025cb  "
}

.lst-kix_plwo2txdaktn-7>li:before {
    content: "\0025cb  "
}

.lst-kix_o79nw4qhilu5-0>li:before {
    content: "\0025cf  "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

ul.lst-kix_o79nw4qhilu5-8 {
    list-style-type: none
}

ul.lst-kix_o79nw4qhilu5-7 {
    list-style-type: none
}

ul.lst-kix_o79nw4qhilu5-6 {
    list-style-type: none
}

ul.lst-kix_o79nw4qhilu5-5 {
    list-style-type: none
}

ul.lst-kix_o79nw4qhilu5-4 {
    list-style-type: none
}

ul.lst-kix_o79nw4qhilu5-3 {
    list-style-type: none
}

ul.lst-kix_o79nw4qhilu5-2 {
    list-style-type: none
}

ul.lst-kix_o79nw4qhilu5-1 {
    list-style-type: none
}

ul.lst-kix_o79nw4qhilu5-0 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c0 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c4 {
    
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    
    font-style: normal
}

.c8 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c1 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c5 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c7 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-indent: 36pt;
    text-align: justify
}

.c10 {
   
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: center
}

.c6 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c12 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: justify
}

.c15 {
    font-weight: 700;
    font-size: 12pt;
    
}

.c19 {
    font-weight: 400;
    font-size: 10pt;
    
}

.c13 {
    font-weight: 400;
    font-size: 16pt;
    
}

.c11 {
    font-weight: 700;
    font-size: 16pt;
    
}

.c14 {
    font-size: 12pt;
    
    font-weight: 400
}

.c16 {
   
    max-width: 540pt;
    padding: 45pt 36pt 54pt 36pt
}

.c9 {
    font-size: 14pt;
    
    font-weight: 700
}

.c18 {
    padding: 0;
    margin: 0
}

.c2 {
    height: 11pt
}

.c20 {
    text-indent: 36pt
}

.c17 {
    margin-left: 36pt
}

.title {
    padding-top: 0pt;
   
    font-size: 26pt;
    padding-bottom: 3pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
   
    font-size: 15pt;
    padding-bottom: 16pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    
    font-size: 11pt;
    
}

p {
    margin: 0;
    
    font-size: 11pt;
    
}

h1 {
    padding-top: 20pt;

    font-size: 20pt;
    padding-bottom: 6pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;

    font-size: 16pt;
    padding-bottom: 6pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
   
    font-size: 14pt;
    padding-bottom: 4pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    
    font-size: 12pt;
    padding-bottom: 4pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    
    font-size: 11pt;
    padding-bottom: 4pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    
    font-size: 11pt;
    padding-bottom: 4pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    
    orphans: 2;
    widows: 2;
    text-align: left
}